<div style="height: 100%; width: 100%; display:flex; flex-flow: column;">
    <div style="width: 100%; display: flex; flex-flow: row;">
        <div style="overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; flex-grow: 1;">
            <span class="primaryText">From: {{.From}}</span></br>
            <span class="secondaryText">To: {{.To}}</span></br>
            <span class="primaryText">Subject: {{.Subject}}</span></br>
        </div>
        <img id="readIcon{{.MessageId}}" class="iconBtn" style="width: 20pt; margin-right: 10pt;" onclick="toggleRead({{.MessageId}});" src="assets/read.svg"/>
        <img id="deleteIcon" class="iconBtn" style="width: 20pt; margin-right: 10pt;" onclick="removeMail({{.MessageId}});" src="assets/remove.svg"/>
        <div class="btn materialLevel1" style="width: 40pt; right: 0pt; top: 0pt; margin: auto;" onclick="closeDetails();">
            <img src="assets/back.svg" style="width: 20pt"/>
        </div>
    </div>
    <div class="scrollable messageBody" style="margin-top: 10pt;">
        <div style="padding: 5pt;">{{.Text}}</div>
    </div>
</div>