<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="/assets/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link type="text/css" href="/css/index.css" rel="stylesheet">
        <link type="text/css" href="/css/styles.css" rel="stylesheet">
        <link type="text/css" href="/css/controls.css" rel="stylesheet">
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/notifications.js" type="text/javascript"></script>
        <script src="/js/index.js" type="text/javascript"></script>
        <title>Gostfix mail {{.Version}}</title>
    </head>
    <body>
        <div id="main">
            <div id="headerBox">
                <div id="statusLine"></div>
            </div>
            <div id="mailControls">
                <div id="mailNewButton" class="btn materialLevel1" style="margin-left: 15px; margin-right: 15px;">New email</div>
                <div id="multiActions" class="materialLevel1 noselect">
                    <div style="display: block; margin: auto 10px auto 22px;">
                        <label class="cbox" onclick="event.stopPropagation();">
                            <input id="selectAllCheckbox" type="checkbox" onclick="toogleMailSelection(); event.stopPropagation(); return true;">
                            <span></span>
                        </label>
                    </div>
                    <div id="multiActionsControls">
                        <img id="multiActionsRead" class="iconBtn" style="width: 24px; height: 24px; margin: auto 10px auto 0; flex: 0 1 auto;" onclick="toggleSelectionRead(); event.stopPropagation(); return false;" src="/assets/unread.svg"/>
                        <img id="multiActionsRestore" class="iconBtn" style="display: none; width: 24px; margin: auto 10px auto 0; height: 24px; flex: 0 1 auto;" onclick="restoreSelection(); event.stopPropagation(); return false;" src="/assets/restore.svg"/>
                        <img id="multiActionsRemove" class="iconBtn" style="width: 24px; height: 24px; margin: auto 10px auto 0; flex: 0 1 auto;" onclick="removeSelection(); event.stopPropagation(); return false;" src="/assets/remove.svg"/>
                    </div>
                    <div class="spacer"></div>
                    <div id="pager" class="noselect">
                        <img class="iconBtn" style="width: 20px;" src="/assets/prev.svg" onclick="prevPage()">
                        <div style="width: 60px;display: flex;">
                            <span id="currentPageIndex" style="margin:auto" class="noselect"></span>
                            <span style="margin:auto" class="noselect">/</span>
                            <span id="totalPageCount" style="margin:auto" class="noselect"></span>
                        </div>
                        <img class="iconBtn" style="width: 20px;" src="/assets/next.svg" onclick="nextPage()">
                    </div>
                </div>
            </div>
            <div class="horizontalPaddingBox">
                <div class="contentBox">
                    <div class="leftPanel">
                        <div id="folders"></div>
                    </div>
                    <div class="verticalPaddingBox">
                        <div class="innerConentBox materialLevel1">
                            <div id="mailList"></div>
                            <div id="mailDetails"></div>
                            <div id="mailNew">{{.MailNew}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copyrightBox" class="elidedText"><img src="/assets/logo.svg" height="30px"/>gostfix {{.Version}} Web interface. Copyright (c) 2020 Alexey Edelev &lt;semlanik@gmail.com&gt;</div>
        </div>
    </body>
</html>
