<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="/assets/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link type="text/css" href="/css/index.css" rel="stylesheet">
        <link type="text/css" href="/css/styles.css" rel="stylesheet">
        <link type="text/css" href="/css/controls.css" rel="stylesheet">
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/forms.js"></script>
        <script>
            $(document).ready(function() {
                initControls()

                addValidation('#userField', '#registerForm', validateEmail)
                addValidation('#fullNameField', '#registerForm', validateFullName)
                addValidation('#passwordField', '#registerForm', validatePassword)
                validateForm('#registerForm')
            })

            function register() {
                if (validateForm('#registerForm')) {
                    $('#registerForm').submit()
                }
            }
        </script>
        <title>Gostfix mail {{.Version}}</title>
    </head>
    <body>
        <div id="main">
            <div class="horizontalPaddingBox">
                <div style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center;">
                    <form id="registerForm" method="POST" action="/register" style="margin: 0 auto;">
                        <div class="inpt bad">
                            <input id="fullNameField" name="fullName" type="text" required maxlength="128" autocomplete="off">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Full name</label>
                        </div>
                        <div class="inpt bad">
                            <input id="userField" name="user" type="text" required maxlength="64" autocomplete="off">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>User @{{.Domain}}</label>
                        </div>
                        <div class="inpt password bad">
                            <input id="passwordField" name="password" type="password" required maxlength="28" autocomplete="off">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Password</label>
                            <img class="icon" src="/assets/eye.svg"/>
                        </div>
                        <div id="registerButton" class="btn materialLevel1 disabled" style="margin-bottom: 15px;" onclick="register();">Register</div>
                    </form>
                </div>
            </div>
            <div id="copyrightBox" class="elidedText"><img src="/assets/logo.svg" height="30px"/>gostfix {{.Version}} Web interface. Copyright (c) 2020 Alexey Edelev &lt;semlanik@gmail.com&gt;</div>
        </div>
    </body>
</html>
