<div class="dropbtn materialLevel1" onclick="toggleDropDown('emailSelector')">
    <div style="display: flex;" class="noselect">
        <img src="https://www.gravatar.com/avatar/{{.EmailHash}}?s=100&d=monsterid" style="border-radius: 100%; border-color: var(--primary-color); border-width: 2pt; border-style: solid; height: 30pt; width: 30pt;">
        <div style="margin-top: auto; margin-bottom: auto; margin-left: 10pt;" class="noselect">
            {{.Name}} {{.Email}}
        </div>
    </div>
    <div id="emailSelector" class="dropdown-content">
        {{range .EmailsIndexes}}
        <a href="/m{{.Index}}">{{.Email}}</a>
        {{end}}
    </div>
    <div class="noselect" style="position: relative;">
        <img src="/assets/down.svg" style="position: absolute; bottom: 0; right: 0; margin-right: -5pt; margin-bottom: -5pt; height: 7pt;">
    </div>
</div>
