.btn {
    position: relative;

    display: block;
    padding: 14px;

    overflow: hidden;

    border-width: 0;
    outline: none;
    box-shadow: var(--level1-shadow);

    background-color: var(--primary-color);
    color: var(--secondary-text-color);

    font-size: var(--normal-text-size);
    font-weight: bold;
    text-align: center;
    transition: background-color .3s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover, .btn:focus {
    background-color: var(--primary-dark-color);
    cursor: pointer;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn.disabled {
    background-color: var(--inactive-color);
}

.fadeOut {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, var(--bg-color) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0,0)), color-stop(100%,var(--bg-color))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, var(--bg-color) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, var(--bg-color) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, var(--bg-color) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--bg-color) 100%); /* W3C */
}

.fadeIn {
    background: -moz-linear-gradient(top, var(--bg-color) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--bg-color)),  color-stop(100%,rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, var(--bg-color) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, var(--bg-color) 0%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, var(--bg-color) 0%,  rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, var(--bg-color) 0%,  rgba(0, 0, 0, 0) 100%); /* W3C */
}

/*Input fields*/
.inpt {
    position:relative;
    margin-top: 20px;
    margin-bottom: 50px;
}

.inpt input {
    font-size: var(--big-text-size);
    padding: 11px 9px 9px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

.inpt input:invalid {
    outline: none;
}
.inpt input:focus {
    outline: none;
}

.inpt input:required {
    box-shadow: none;
}

.inpt label {
    color: var(--primary-text-color);
    font-size: var(--huge-text-size);
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.inpt img {
    position: absolute;
    right: 10px;
    top: 14px;
    display: block;
    width: 24px;
    height: 24px;
}

.inpt input:focus ~ label {
    top: -25px;
    font-size: var(--normal-text-size);
    color: var(--primary-text-color);
}

.inpt input:valid ~ label {
    top: -25px;
    font-size: var(--normal-text-size);
    color: var(--primary-text-color);
}
.inpt .bar {
    position: relative;
    display: block;
    width: 100%;
}

.inpt.bad .bar:before, .inpt.bad .bar:after{
    background-color: var(--bad-color);
}

.inpt.weak .bar:before, .inpt.weak .bar:after{
    background-color: var(--invalid-color);
}

.inpt .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.inpt .bar:before {
    left:50%;
}

.inpt .bar:after {
    right:50%;
}

.inpt input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

.inpt .highlight {
    position: absolute;
    height:80%;
    width: 100%;
    bottom: 4px;
    left:0;
    pointer-events: none;
    opacity: 0.5;
}

.inpt input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

.inpt.bad input{
    border-bottom: 1px solid var(--bad-color);
}

.inpt.weak input{
    border-bottom: 1px solid var(--invalid-color);
}

@-webkit-keyframes inputHighlighter {
    from { background: var(--secondary-color); }
    to { width:0; background:transparent; }
}

@-moz-keyframes inputHighlighter {
    from { background: var(--secondary-color); }
    to { width:0; background:transparent; }
}

@keyframes inputHighlighter {
    from { background: var(--secondary-color); }
    to { width:0; background:transparent; }
}

/*folder button*/
.folderBtn {
    display: flex;
    flex-direction: row;
    padding: 2px var(--base-text-padding);
    left: 0;
    right: 0;
    margin-top: 2px;
    border-radius: var(--default-radius);
    background-color: transparent;
    font-size: var(--normal-text-size);

    text-shadow: var(--text-shadow);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.folderBtn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.iconBtn:hover, .iconBtn:focus {
    cursor: pointer;
}

.iconBtn {
    width: 24px;
    min-width: 24px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Dropdown Button */
.dropbtn {
    display: inline;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-size: var(--normal-text-size);
    cursor: pointer;
    padding: var(--base-text-padding);
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: var(--base-text-padding);

    background-color: var(--bg-color);
    min-width: 160px;
    box-shadow: var(--level1-shadow);
    z-index: 1;
}

.dropdown-content a {
    padding: var(--base-text-padding);
    text-decoration: none;
    display: block;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toEmail {
    border-radius: var(--default-radius);
    font-size: var(--small-text-size);
    margin: 5px 10px 5px 0;
    padding: var(--small-text-padding);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settingsHeader {
    padding: var(--base-text-padding);
    font-size: var( --huge-text-size);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}