html, body {
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: 0;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    padding: var(--base-border-padding);

    display: flex;
    flex-direction: column;
}

#headerBox {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}

#statusLine {
    display: flex;
    flex: 1 1 auto;
    padding: var(--base-text-padding);
    min-height: 50px;
}

#pager {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.contentBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.leftPanel {
    display: block;
    width: 220px;
    max-width: 220px;
    min-width: 220px;
    height: 100%;
    max-height: 100%;

    margin-top: 8px;
    margin-right: 15px;
}

.innerConentBox {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

#mailList {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow-y: auto;
    background-color: var(--bg-color);
}

#mailDetails {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    display: none;
    background-color: var(--bg-color);
    padding: var(--base-border-padding);
}

#mailNew {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    display: none;
    background-color: var(--bg-color);
    padding: var(--base-border-padding);
}

.mailHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mailFrom {
    display: inline-block;
    flex: 0 1 auto;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    padding: var(--base-text-padding);
    font-size: var(--normal-text-size);
}

.mailSubject {
    display: block;
    flex: 1 1 auto;
    padding: var(--base-text-padding);
    font-size: var(--normal-text-size);
}

.mailDate {
    display: block;
    flex: 0 1 auto;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    padding: var(--base-text-padding);
    font-size: var(--small-text-size);
    text-align: center;
    color: var(--secondary-text-dark-color)
}

.mailControlPanel {
    position: absolute;
    min-width: 160px;
    top: 0px;
    right: 0px;
    bottom: 1px;
    z-index: 2;
    display: none;
}

#copyrightBox {
    font-size: var(--small-text-size);
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    padding: var(--base-text-padding);
    text-align: right;
    vertical-align: middle;
    justify-content: flex-end;
}

#multiActions {
    display: none;
    flex-direction: row;
    margin-right: 30px;
}

.verticalPaddingBox {
    display: block;
    flex: 1 1 auto;
    top: 0;
    bottom: 0;

    padding: var(--base-border-padding);
}

.horizontalPaddingBox {
    display: block;
    flex: 1 1 auto;
    left: 0;
    right: 0;

    padding: var(--base-border-padding);
}

.elidedText {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contentArea {
    border-radius: var(--default-radius);
    border: 1px solid var(--primary-color);
}