html, body {
    height: 100%;
    margin: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 30pt!important;
}

.contentBox {
    position: absolute;
    top: 40pt;
    left: 0;
    right: 0;
    bottom: 0;

    margin-left: 150pt!important;
    margin-top: 5pt!important;
    margin-right: 15pt!important;

    padding: 5pt
}

.emailDetails {
    background-color: white;
    margin-left: 158pt!important;
    margin-top: 13pt!important;
    margin-bottom: -8pt!important;
    margin-right: 8pt!important;
    padding: 10pt;
}

.foldersBox {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;

    margin-left: 2pt!important;
    margin-top: 5pt!important;
    margin-right: 5pt!important;
    margin-bottom: 30pt!important;

    overflow-y: auto;
    width: 150pt;
}

#statusLine {
    position: absolute;
    top: 0;
    font-size: 16pt;
    left: 150pt;
    height: 40pt;
    padding: 5pt
}

.copyrights {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5pt!important;
    margin-bottom: 5pt!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
}
