html, body {
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: 0;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    padding: 5pt;

    display: flex;
    flex-direction: column;
}

#headerBox {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}

#statusLine {
    display: flex;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: var(--base-text-padding);
    min-height: 50pt;
}

#pager {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100pt;
    min-width: 100pt;
    max-width: 100pt;
}

#contentBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#foldersBox {
    display: block;
    width: 150pt;
    max-width: 150pt;
    min-width: 150pt;
    height: 100%;
    max-height: 100%;
}

#mailInnerBox {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

#mailList {
    position: absolute;
    top: 5pt;
    bottom: 5pt;
    left: 5pt;
    right: 5pt;
    overflow-y: auto;
    background-color: var(--bg-color);
}

#mailDetails {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    display: none;
    background-color: var(--bg-color);
    padding: 5pt;
}

#mailNew {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    display: none;
    background-color: var(--bg-color);
    padding: 5pt;
}

.mailHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mailFrom {
    display: inline-block;
    flex: 0 1 auto;
    min-width: 250pt;
    max-width: 250pt;
    width: 250pt;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: var(--base-text-padding);
}

.mailSubject {
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--base-text-padding);
}

.mailDate {
    display: block;
    flex: 0 1 auto;
    width: 100pt;
    min-width: 100pt;
    max-width: 100pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--base-text-padding);
}

.mailControlPanel {
    position: absolute;
    min-width: 100pt;
    top: 0pt;
    right: 0pt;
    bottom: 1pt;
    z-index: 2;
    display: none;
}

#copyrightBox {
    flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: none;
    padding: var(--base-text-padding);
    text-align: right;
}

.verticalPaddingBox {
    display: block;
    flex: 1 1 auto;
    top: 0;
    bottom: 0;

    padding: 5pt;
}

.horizontalPaddingBox {
    display: block;
    flex: 1 1 auto;
    left: 0;
    right: 0;

    padding: 5pt;
}