* {
    font-family: 'Titillium Web';
}

body {
    background-color: white;
}

table.mailList {
    width: 100%;
    table-layout: fixed;
}

.mailList td {
    padding: 10pt;
}

.mailList tr:last-child {
    border-bottom: 0;
}

.mailList tr {
    background-color: #ffffff;
    border-bottom: 1px solid #41cd52;
    cursor: pointer;
    transition: background-color .3s;
}

.mailList tr:hover {
    background-color: #ebffee;
}

td.fromCol {
    width: 300pt;
}

td.subjCol {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.dateCol {
    width: 100pt;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

tr.read {
    font-weight: normal;
}

tr.unread {
    font-weight: bold;
}

.materialLevel1 {
    box-shadow: 0 1pt 3pt rgba(0, 0, 0, .6);
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 4pt;
    margin-right: 4pt;
    border-radius: 3pt;
}

.materialLevel2 {
    box-shadow: 0 2pt 6pt rgba(0, 0, 0, .6);
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 5pt;
    margin-right: 5pt;
    border-radius: 3pt;
}

.copyrights {
    color: #b8d4bc
}

.primaryText {
    color: black;
    font-weight: bold;
    font-size: 12pt;
}

.secondaryText {
    color: #777777;
    font-weight: normal;
    font-size: 10pt;
}

.messageBody {
    border-radius: 3pt;
    border-width: 1pt;
    border-style: solid;
    border-color: #41cd52;
}